# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  pull_changes:
    runs-on: self-hosted
    steps:
      - working-directory: /home/pi/projects/devops-training
        run: git pull      
    
  build:
    needs: pull_changes
    runs-on: self-hosted
    steps:
      - working-directory: /home/pi/projects/devops-training    
      - run: npm install
      - run: npm run build
