name: CI / CD

# Controls when the workflow will run
on: workflow_dispatch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  pull_changes:
    runs-on: self-hosted
    steps:
      - name: Pull changes
        working-directory: ${{ secrets.WORKING_DIRECTORY }}
        run: git pull
        
      
  build:
    needs: pull_changes
    runs-on: self-hosted
    steps:
      - name: Install dependencies
        working-directory: ${{ secrets.WORKING_DIRECTORY }}
        run: |
          npm install
          npm run build
        
