name: CI / CD

# Controls when the workflow will run
on: workflow_dispatch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
#      - name: Run on arm64
#        uses: uraimo/run-on-arch-action@v2.1.1
#        with:
#          distro: ubuntu20.04
#          run: docker buildx ls
#      - name: setup-docker
#        uses: docker-practice/actions-setup-docker@1.0.8
      
#      - name: Docker Setup Buildx
#        uses: docker/setup-buildx-action@v1.6.0
    
      - name: Buildx
        run: docker buildx ls
#      - name: Checkout
#        uses: actions/checkout@v2.3.4
#      - name: Docker build
#        run: docker build -t teoborshch/devops-training .
#      - name: Connect to docker hub
#        run: docker login -u ${{secrets.DOCKER_LOGIN}} -p ${{secrets.DOCKER_PASSWORD}}
#      - name: Push to docker hub
#        run: docker push teoborshch/devops-training

#  pull_changes:
 #   runs-on: self-hosted
  #  steps:
   #   - name: Pull changes
    #    working-directory: ${{ secrets.WORKING_DIRECTORY }}
     #   run: git pull
        
      
 # build:
  #  needs: pull_changes
   # runs-on: self-hosted
    #steps:
     # - name: Install dependencies
      #  working-directory: ${{ secrets.WORKING_DIRECTORY }}
       # run: |
        #  npm install
         # npm run build
        
#  deploy:
#    needs: build
#    runs-on: self-hosted
#    steps:
#      - name: Copy built project to nginx folder
#        run: |
#          rm -r ${{ secrets.NGINX_DIRECTORY }}/devops-training
#          cp -r ${{ secrets.WORKING_DIRECTORY }}/dist/devops-training ${{ secrets.NGINX_DIRECTORY }}
#      - name: Restart nginx
#        run: sudo systemctl restart nginx
